<h1>Friendship does not have a breed</h1>
<p> Hey, my name is Anastasiia and I work as volunteer in dogs shelter. I made this photo project to help dogs find home and show people that breed does not matter, as all dogs are our good friends.</p>
<a href="https://www.facebook.com/anastasiia.standret"> Follow me on FB</a>
